@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

.container {
    padding: 2rem 7rem;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.risultato_immagini {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    width: 400px; /* Larghezza fissa */
    height: 200px; /* Altezza fissa */
    overflow: hidden; /* Evita problemi di overflow */
}

.risultato_immagini img {
    width: 120px; /* Dimensione fissa */
    height: 120px;
    object-fit: contain;
}

.container.start .utente_risultato {
    animation: utenteShake 1s ease infinite;
}

.container.start .cpu_risultato {
    animation: cpuShake 1s ease infinite;
}

@keyframes utenteShake {
    0%, 100% {
        transform: rotate(90deg) rotateY(180deg) translateX(0);
    }
    50% {
        transform: rotate(90deg) rotateY(180deg) translateX(-10px);
    }
}

@keyframes cpuShake {
    0%, 100% {
        transform: rotate(-90deg) translateX(0);
    }
    50% {
        transform: rotate(-90deg) translateX(10px);
    }
}

.utente_risultato {
    transform: rotate(90deg) rotateY(180deg);
}

.cpu_risultato {
    transform: rotate(-90deg);
}

.risultato {
    text-align: center;
    font-size: 3rem;
    color: #9282D9;
    margin-top: 0rem;
}

.opzione_immagini img {
    width: 70px;
}

.opzione_immagini {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: space-between;
}

.container.start .opzione_immagini {
    pointer-events: none;
}

.opzione_immagine {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.opzione_immagine:hover {
    opacity: 1;
}

.opzione_immagine.active {
    opacity: 1;
}

.opzione_immagine img {
    pointer-events: none;
}

.opzione_immagine p {
    color: #9282D9;
    font-size: 1.265rem;
    margin-top: 1rem;
    pointer-events: none;
}