ul{
    list-style-type: none;
    padding-left: 0;
}
ul li{
    display: inline;
    
}

header {
    background-color: rgb(181, 228, 228);
    padding: 1em;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

footer{
    color: rgb(140, 172, 172);
}

img{
    width: 10em;
    border-radius: 8em;
}
